.card {
    border: 3px solid rgb(12, 156, 182) !important;
}

body {
    background-image: url(./Assets/krists-luhaers-AtPWnYNDJnM-unsplash.jpg);
    background-position: -150px -300px;
    background-size: 120%;
    background-color: black;
}